.product-cart {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.product-img {
    object-fit: contain;
    width: 16rem;
    height: 16rem;
    border: 1px solid #ccc;
}

.product-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.product-info{
    padding-left: 2rem;   
}

.product-info > button {
    background-color: #f04b4b;
    border: .1rem solid;
    border-color: #a83434 #9c3131 #842929;
    margin-top: 1rem;
}

.amount span{
    color: crimson;
    padding: 0 20px;
}

.amount .countp{
    width:4rem;
    height:3rem;
    border: 1px solid #555;
    outline:none;
    background: rgb(29, 206, 29);
    cursor: pointer;
}

.amount .countn{
    width:4rem;
    height:3rem;
    border: 1px solid #555;
    outline:none;
    background: rgb(206, 29, 29);
    cursor: pointer;
}